{%- comment -%}Desktop Search Modal{%- endcomment -%}
<search-modal class="header__search" style="display: none;">
  <div class="searchform">
    <div class="search-modal modal__content bg-white" role="dialog" aria-modal="true" aria-label="{{ 'general.search.placeholder' | t }}" style="padding: 17.5px; 0">
      <div class="container">
        <div class="search-modal__content" tabindex="-1">
          <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">
            {%- capture searchType -%}{%- if settings.enable_search_product -%}product,{%- endif -%}{%- if settings.enable_search_article -%}article,{%- endif -%}{%- if settings.enable_search_page -%}page{%- endif -%}{%- endcapture -%}
            <div class="field">
              <input class="form-control rounded-0 search__input border-0" data-search-input id="Search-In-Modal" type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}">
              <input type="hidden" name="type" value="{{ searchType }}">
              {%- comment -%}
              <button class="search__button field__button focus-inset text-primary" aria-label="{{ 'general.search.placeholder' | t }}">
                <span class="ox-search"></span>
              </button>
              {%- endcomment -%}
              <button style="font-size: 15.56px;" type="button" class="search-modal__close-button modal__close-button focus-inset" aria-label="{{ 'accessibility.close' | t }}">
                <span class="ox-close"></span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="border-top pb-3 predictive-search pt-5" style="display: none;">
      <div class="container">
        <div class="predictive-search-header mb-4">
          <h5>Products</h5>
        </div>
        <div class="predictive-search-body">
          <div class="predictive-search-product-list row m-n2"></div>
        </div>
        <div class="predictive-search-footer">
          <a class="btn-link mt-3" href="/search?q=omnilux&resources[type]=product">View all</a>
        </div>
      </div>
    </div>
  </div>
</search-modal>
