<ul class="social-links list-unstyled list-inline mt-3 mb-0">
    {% if section.settings.social_icon_instagram %}
    <li class="list-inline-item">
        <a href="{{ settings.social_instagram_link }}" target="_blank" style="color: {{ section.settings.footer_top_link_color }};" title="Instagram" rel="nofollow" aria-label="Instagram">
            <span class="ox-instagram"></span>
        </a>
    </li>
    {% endif %}

    {% if section.settings.social_icon_facebook %}
    <li class="list-inline-item">
        <a href="{{ settings.social_facebook_link }}" target="_blank" style="color: {{ section.settings.footer_top_link_color }};" title="Facebook" rel="nofollow" aria-label="Facebook">
            <span class="ox-facebook"></span>
        </a>
    </li>
    {% endif %}
{% if section.settings.social_icon_tiktok %}
    <li class="list-inline-item">
        <a href="{{ settings.social_tiktok_link }}" target="_blank" style="color: {{ section.settings.footer_top_link_color }};" title="tiktok" rel="nofollow" aria-label="tiktok">
            <span class="ox-tiktok"></span>
        </a>
    </li>
{% endif %}
    {% if section.settings.social_icon_twitter %}
    <li class="list-inline-item">
        <a href="{{ settings.social_twitter_link }}" target="_blank" style="color: {{ section.settings.footer_top_link_color }};" title="Twitter" rel="nofollow" aria-label="Twitter">
            <span class="icon-twitter"></span>
        </a>
    </li>
    {% endif %}

    {% if section.settings.social_icon_youtube %}
    <li class="list-inline-item">
        <a href="{{ settings.social_youtube_link }}" target="_blank" style="color: {{ section.settings.footer_top_link_color }};" title="YouTube" rel="nofollow" aria-label="YouTube">
            <span class="ox-youtube"></span>
        </a>
    </li>
    {% endif %}
</ul>