<link rel="stylesheet" href="{{ 'global-video-with-text.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'global-video-with-text.css' | asset_url | stylesheet_tag }}</noscript>

<section id="{{ section.settings.sectionid }}" class="video-with-text text-with-right-video skincare {% if section.settings.border_bottom %}border-bottom{% endif %}" data-section-id="{{ section.id }}">
    <div class="{% if section.settings.fluid_layout %}container-fluid{% else %}container{% endif %}">

              {% if section.settings.title != blank %}
                            <h3 class="mb-3 hidedesktop" style="text-align:center;max-width:{{ section.settings.max_width }}px;">{{ section.settings.title }}</h3>
                        {% endif %} 
      
        <div class="custom-video-container row {{ section.settings.content_position }} justify-content-center">
            <div class="col-12 col-lg-6 order-lg-2 ps-0">
                <custom-video class="video-with--text position-relative d-block placement--{{ section.settings.placement }}"
                    data-loop="{{ section.settings.loop }}" data-autoplay="true" data-controls="{{ section.settings.controls }}" data-muted="{{ section.settings.muted }}"
                    data-video-type="{{ section.settings.video_type }}"  data-placement="{{ section.settings.placement }}"
                    {% if section.settings.mobile_video_id != blank %}data-mobileVideo="{{ section.settings.mobile_video_id }}"{% endif %} data-video-id="{{ section.settings.video_id }}">
                    <div class="cta-btn">
                        <span class="d-inline-flex" role="button" data-trigger-video aria-label="{{ 'sections.video-with-text.play_video' | t }}">
                            <span class="btn btn-white d-flex align-items-center d-lg-inline-flex"> {{ section.settings.video_btn_text }} <i class="ox-play ms-2" style="font-size:11px;"></i></span>

                        </span>
                        <span class="d-none" data-pause-video aria-label="{{ 'sections.video-with-text.paused_video' | t }}">
                            <span class="btn btn btn-white">Watch video <i class="ox-play ms-2"></i></span>
                        </span>
                    </div>
                    <div class="content-section">
                        <div class="poster-image {{ section.settings.height }}">
                            {%- if section.settings.poster_type == 'video' and section.settings.bg_video != blank -%}
                                <video class="h-100 object-cover position-absolute start-0 top-0 w-100" data-posterVideo preload="yes" playsinline muted loop data-mobileSrc="{{ section.settings.mobile_bg_video }}">
                                    <source src="{{ section.settings.bg_video }}" type="video/mp4">
                                </video>
                            {%- elsif section.settings.poster_image != blank -%}
<img
                                
                                src="{{ section.settings.poster_image }}"
                               
                                alt="{{ section.settings.poster_image.alt | escape }}"
                                class="h-100 object-cover position-absolute start-0 top-0 w-100"
                                loading="lazy"
                                width="{{ section.settings.poster_image.width | divided_by: 3 }}"
                                height="{{ section.settings.poster_image.height | divided_by: 3 }}"
                            >
                            {%- else -%}
                                <img 
                                src="{{ settings.no_image | image_url: width: 1500 }}" loading="lazy"
                                
                                alt="{{ settings.no_image.alt | default: section.settings.title | escape }}"
                                width="{{ settings.no_image.width }}"
                                height="{{ settings.no_image.width | divided_by: settings.no_image.aspect_ratio | round }}"
                            >

                            {%- endif -%}
                        </div>
                    </div>
                    {%- if section.settings.placement == 'grid' -%}
                        <div class="video-section {{ section.settings.height }}" tabindex="0"></div>
                    {%- endif -%}
                    {% if section.settings.enable_overlay %}
                                <div class="poster-overlay {% if section.settings.placement == 'grid' %}poster-overlay-grid{% endif %}" style="background-color: {{ section.settings.overlay_bg_color }}!important; opacity: {{ section.settings.overlay_opacity }}!important;mix-blend-mode: multiply!important;"></div>
                    {% endif %}
                </custom-video>
            </div>
            <div class="col-12 col-lg-6 d-flex align-items-center inside-block-col order-lg-1">
            <div class="inside-block {{ section.settings.alignment }} {% if section.settings.image_alignment == 'left' %}text-p-end ps-5{% else %}ms-lg-auto text-p-start{% endif %}  pb-lg-5 pt-4 mt-1 mt-lg-0 mb-lg-0 mb-1 pb-8 pe-20 ps-20" style="max-width:675px">
<div class="formatted-list pe-lg-3 ps-0 {% if section.settings.fullwidth_content %} col-12 {% else %}col-sm-10 col-12{% endif %}">           
              {% if section.settings.title != blank %}
                            <h3 class="mb-3 hidemobile" style="max-width:{{ section.settings.max_width }}px;">{{ section.settings.title }}</h3>
                        {% endif %}                                          
                    {% if section.settings.subtitle != blank %}
                        <p class="mb-4 pb-1">{{ section.settings.subtitle }}</p>
                    {% endif %}
                        {% if section.settings.txt != blank %}
                            <div class="{% if section.settings.btn_txt != blank or section.settings.btn_txt_watch != blank or section.settings.steps_captions != blank or section.settings.step_heading != blank or section.settings.steps_captions_2 != blank %}pb-2 mb-1{% else %}mb-n3 pb-0{% endif %}">{{ section.settings.txt }}</div>
                        {% endif %}
                         {% if section.settings.htmltxt != blank %}
                            <div class="{% if section.settings.btn_txt != blank or section.settings.btn_txt_watch != blank or section.settings.steps_captions != blank or section.settings.step_heading != blank or section.settings.steps_captions_2 != blank %}pb-2 mb-1{% else %}mb-n3 pb-0{% endif %}">{{ section.settings.htmltxt }}</div>
                        {% endif %}

                        {% if section.settings.btn_txt_watch != blank %}
                        <div class="mt-lg-3 mt-2 pt-1 w-100 w-sm-auto">

                            <div class="custom-video-container ">
                                <span data-trigger-videobtn class="cursor-pointer btn w-100 w-sm-auto {% if section.settings.btn_type_watch == "border-0" %}border-0{% endif %} btn{% if section.settings.btn_type_watch == 'outline' %}-{% endif %}{% if section.settings.btn_type_watch != "border-0" %}{{ section.settings.btn_type_watch }}{% endif %}-{{ section.settings.btn_variant_watch }} {{ section.settings.btn_size_watch }}" title="{{ section.settings.btn_txt_watch }}">
                                    {{ section.settings.btn_txt_watch }}
                                    <i class="ox-play ms-2" style="font-size:11px;"></i>
                                </span>
                                
                                
                                <custom-video class="video-with--text position-relative d-block placement--popup"
                                    data-loop="true" data-autoplay="true" data-controls="true" data-muted="false"
                                    data-video-type="local"  data-placement="popup"
                                    {% if section.settings.watch_mobile_video_id != blank %}data-mobileVideo="{{ section.settings.watch_mobile_video_id }}"{% endif %} 
                                    data-video-id="{{ section.settings.watch_video_id }}">
                                    <div class="cta-btn d-none">
                                        <button class="play__button btn btn-primary" data-trigger-video aria-label="{{ 'sections.video-with-text.play_video' | t }}">
                                            <span class="icon-play"></span>
                                        </button>
                                        <button class="bg-transparent border-2 border-white btn btn-primary p-3 pause__button rounded-pill d-none" data-pause-video aria-label="{{ 'sections.video-with-text.paused_video' | t }}">
                                            <span class="ox-play" style="position: relative;right: -2px;"></span>
                                        </button>
                                    </div>
                                </custom-video>

                            </div>

                            
                        </div>
                        {% endif %}
                        {% if section.settings.btn_txt != blank %}
                            <a {% if section.settings.btn_link %} href="{{ section.settings.btn_link }}" {% endif %}class="btn btn{% if section.settings.btn_type == 'outline' %}-{% endif %}{{ section.settings.btn_type }}-{{ section.settings.btn_variant }} {{ section.settings.btn_size }}">{{ section.settings.btn_txt }}</a>
                        {% endif %}
                        {% if section.settings.link_txt != blank %}
                            <div class="mt-3 pt-1">
                                <a target="_blank" {% if section.settings.link_url %} href="{{ section.settings.link_url }}" {% endif %}class="btn-link">{{ section.settings.link_txt }}</a>
                            </div>
                        {% endif %}
                </div></div>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
  "name": "Skin Text Right Video",
  "class": "image-video-style",
  "settings": [
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "checkbox",
      "id": "fluid_layout",
      "label": "Full Width Layout?",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "border_bottom",
      "label": "Border Bottom?",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "muted",
      "label": "Video Muted",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "controls",
      "label": "Video Controls",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "loop",
      "label": "Loop Video",
      "default": true
    },
    {
      "type": "text",
      "id": "sectionid",
      "label": "Section ID"
    },
    {
      "type": "select",
      "id": "video_style",
      "label": "Video Content Style",
      "options": [
        {
          "value": "col-lg-6",
          "label": "Both Equal"
        },
        {
          "value": "col-lg-8 ",
          "label": "Video Larger"
        }
      ],
      "default": "col-lg-6"
    },
    {
      "type": "select",
      "id": "video_style_large",
      "label": "Video Content Style for XL width ",
      "options": [
        {
          "value": "col-xl-5 ",
          "label": "Both Equal"
        },
        {
          "value": "col-xl-8 padding-top ",
          "label": "Video Larger"
        }
      ],
      "default": "col-xl-5 "
    },
    {
      "type": "select",
      "id": "content_position",
      "label": "Vertical Position",
      "options": [
        {
          "value": "align-items-start",
          "label": "Top"
        },
        {
          "value": "align-items-center ",
          "label": "Center"
        },
        {
          "value": "align-items-end",
          "label": "Bottom"
        }
      ],
      "default": "align-items-end"
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "liquid",
      "id": "title",
      "label": "Heading",
      "default": "Awesome Heading"
    },
    {
      "type": "liquid",
      "id": "subtitle",
      "label": "Subheading",
      "default": "Awesome SubHeading"
    },
    {
          "type": "liquid",
          "id": "txt",
          "label": "Text"
        },
     {
          "type": "html",
          "id": "htmltxt",
          "label": "Html Text For Pages"
        },
    {
      "type": "header",
      "content": "Button"
    },
    {
      "type": "text",
      "id": "btn_txt",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "btn_link",
      "label": "Button Link"
    },
    {
      "type": "select",
      "id": "btn_type",
      "label": "Button Type",
      "options": [
        {
          "value": "outline",
          "label": "Outline"
        },
        {
          "value": "",
          "label": "Solid"
        }
      ],
      "default": ""
    },
    {
      "type": "select",
      "id": "btn_variant",
      "label": "Button Variant",
      "options": [
        {
          "value": "primary",
          "label": "Primary"
        },
        {
          "value": "secondary",
          "label": "Secondary"
        },
        {
          "value": "white",
          "label": "White"
        },
        {
          "value": "dark",
          "label": "Dark"
        }
      ],
      "default": "primary"
    },
    {
      "type": "select",
      "id": "btn_size",
      "label": "Button Size",
      "options": [
        {
          "value": "",
          "label": "Default"
        },
        {
          "value": "btn-sm",
          "label": "Small"
        },
        {
          "value": "btn-lg",
          "label": "Large"
        }
      ],
      "default": ""
    },
    {
      "type": "header",
      "content": "Poster"
    },
    {
      "type": "select",
      "id": "poster_type",
      "label": "Poster Type",
      "options": [
        {
          "value": "",
          "label": "Image"
        },
        {
          "value": "video",
          "label": "Video"
        }
      ],
      "default": ""
    },
    {
      "type": "paragraph",
      "content": "Video"
    },
    {
      "type": "liquid",
      "id": "bg_video",
      "label": "Poster Video URL",
      "info": "Only Mute video can autoplay. Use local video URL."
    },
    {
      "type": "liquid",
      "id": "mobile_bg_video",
      "label": "Mobile Poster Video URL",
      "info": "Only Mute video can autoplay. Use local video URL."
    },
    {
      "type": "paragraph",
      "content": "Image"
    },
           {
          "type": "liquid",
          "id": "poster_image",
          "label": "Select Image",
          "info": "For Better Viewing Use Example dimentions: 775*735 ( Aspect Ratio: 1.05 )"
        },
    {
          "type": "liquid",
          "id": "btn_txt_watch",
          "label": "Watch Button Text"
        },
        {
          "type": "liquid",
          "id": "watch_video_id",
          "label": "Video Id"
        },
        {
          "type": "liquid",
          "id": "watch_mobile_video_id",
          "label": "Mobile Video Id"
        },
        {
          "type": "select",
          "id": "btn_type_watch",
          "label": "Button Type for Watch",
          "options": [
            {
              "value": "outline",
              "label": "Outline"
            },
            {
              "value": "border-0",
              "label": "No Outline"
            },
            {
              "value": "",
              "label": "Solid"
            }
          ], 
          "default": ""
        },
     {
          "type": "select",
          "id": "btn_variant_watch",
          "label": "Button Variant for Watch",
          "options": [
            {
              "value": "primary",
              "label": "Primary"
            },
            {
              "value": "secondary",
              "label": "Secondary"
            },
            {
              "value": "white",
              "label": "White"
            },
            {
              "value": "dark",
              "label": "Dark"
            }
          ],
          "default": "primary"
        },
        {
          "type": "select",
          "id": "btn_size_watch",
          "label": "Button Size for Watch",
          "options": [
            {
              "value": "",
              "label": "Default"
            },
            {
              "value": "btn-sm",
              "label": "Small"
            },
            {
              "value": "btn-lg",
              "label": "Large"
            }
          ],
          "default": ""
        },
    {
      "type": "header",
      "content": "Overlay"
    },
    {
      "type": "checkbox",
      "id": "enable_overlay",
      "label": "Enabled?",
      "default": true
    },
    {
      "type": "color",
      "id": "overlay_bg_color",
      "label": "Overlay Background Color",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "label": "Overlay Opacity",
      "min": 0.1,
      "max": 1,
      "step": 0.1,
      "default": 0.5
    },
    {
      "type": "header",
      "content": "Video"
    },
    {
      "type": "checkbox",
      "id": "fluid_video_layout",
      "label": "Full Width video?",
      "default": true,
      "info": "If checked only video with full width will be visible"
    },
    {
      "type": "select",
      "id": "video_type",
      "label": "Video Type",
      "options": [
        {
          "value": "youtube",
          "label": "Youtube"
        },
        {
          "value": "vimeo",
          "label": "Vimeo"
        },
        {
          "value": "local",
          "label": "Local Video"
        }
      ],
      "default": "local"
    },
    {
      "type": "select",
      "id": "placement",
      "label": "Placement",
      "options": [
        {
          "value": "grid",
          "label": "Grid"
        },
        {
          "value": "popup",
          "label": "Modal"
        }
      ],
      "default": "grid"
    },
    {
      "type": "liquid",
      "id": "video_id",
      "label": "Video Id",
      "info": "For Local video use file link. For Youtube and Vimeo use video ID"
    },
    {
      "type": "liquid",
      "id": "mobile_video_id",
      "label": "Mobile Video Id",
      "info": "Same as above. Only add details if need to show diff video in mobile device."
    },
    {
      "type": "text",
      "id": "video_btn_text",
      "label": "Video Button Text",
      "default": "Watch video"
    },
    {
      "type": "header",
      "content": "styling"
    },
    {
      "type": "color",
      "id": "section_bg_color",
      "label": "Background Color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "section_text_color",
      "label": "Text Color",
      "default": "#000000"
    },
    {
      "type": "select",
      "id": "alignment",
      "label": "Text Alignment",
      "options": [
        {
          "value": "text-center",
          "label": "Center"
        },
        {
          "value": "text-start",
          "label": "Left"
        },
        {
          "value": "text-end",
          "label": "Right"
        }
      ],
      "default": "text-center"
    },
    {
      "type": "select",
      "id": "video_alignment",
      "label": "Caption Alignment",
      "options": [
        {
          "value": "justify-content-start",
          "label": "Left"
        },
        {
          "value": "justify-content-center",
          "label": "Center"
        },
        {
          "value": "justify-content-end",
          "label": "Right"
        }
      ],
      "default": "justify-content-center"
    }
  ],
  "presets": [
    {
      "name": "Skincare Text, Right Video",
      "category": "Content"
    }
  ]
}
{% endschema %}
