{{ 'return-auth-form-block.css' | asset_url | stylesheet_tag }}
<section >
  <div class="section-content" data-section-id="{{ section.id }}">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-sm-8 col-md-6 col-lg-5 mx-auto contact-form">
          <div class="col-12 text-center">
            {% if section.settings.heading_txt != blank %}
            <h4 class="mb-3">{{ section.settings.heading_txt }}</h4>
            {% endif %}
          </div>
          <form method="post" action="">
            <div class="form-group form-floating">
              <input type="text" id="firstName" name="first_name" aria-label="first name" class="form-control " placeholder="First name" required="" data-required="">
              <label id="firstName">First name</label>
            </div>
            <div class="form-group form-floating">
              <input type="text" id="lastName" name="last_name" aria-label="last name" class="form-control " placeholder="Last name" required="" data-required="">
              <label id="lastName">Last name</label>
            </div>
            <div class="form-group form-floating">
              <input type="email" id="email" name="email" aria-label="email" class="form-control " placeholder="Email" required="" data-required="">
              <label id="email">Email</label>
            </div>
            <div class="form-group form-floating">
              <input type="date" id="purchaseDate" name="purchaseDate" aria-label="purchaseDate" class="form-control " placeholder="Email" required="" data-required="">
              <label id="email">Purchase Date</label>
            </div>
            <div class="mb-4">
              <p>Did you purchase directly?</p>
              <span class="form-check mb-4">
              <label class="form-check-label" for="purchaseDirectly" title="Yes#">
                <input type="radio" id="purchaseDirectly" name="purchaseDirectlyNo" aria-label="Did you purchase directly?" class="form-check-input" value="Yes" required="" data-required="" data-gtm-form-interact-field-id="4" checked>
                <span class="small">Yes</span>
              </label>
              </span>
              <span class="form-check">
                <label class="form-check-label" for="purchaseDirectlyNo" title="No#">
                  <input type="radio" id="purchaseDirectlyNo" name="purchaseDirectlyNo" aria-label="Did you purchase directly?" class="form-check-input" value="No" required="" data-required="" data-gtm-form-interact-field-id="5">
                  <span class="small">No</span>
                </label>
              </span>
            </div>
            <div id="orderNumberInput" class="form-group form-floating" >
              <input type="text" id="orderNumber" name="orderNumber" aria-label="orderNumber" class="form-control " placeholder="Order Number" required="" data-required="">
              <label id="email">Order Number</label>
            </div>
            <div id="businessNameInput" class="form-group form-floating d-none">
              <input type="text" id="businessName" name="businessName" aria-label="businessName" class="form-control " placeholder="Business Name" required="" data-required="">
              <label id="email">Business Name</label>
            </div>
            <label for="images" class="drop-container">
              <span class="drop-title">Attach image file here</span>
              <input type="file" id="images" accept="image/png, image/gif, image/jpeg" required>
            </label>
            <div class="form-group mt-4">
              <label for="products" class="mb-2">Products</label>
              <select required="" data-required="" class="form-select " id="products" name="products">
                {% for product in collections['all'].products %}
                    <option value="{{product.title}}">{{product.title}}</option>
                  {% endfor %}
              </select>
            </div>
            <div class="form-group form-floating">
              <input type="text" id="serialNumber" name="serialNumber" aria-label="serialNumber" class="form-control" placeholder="Product Serial Number" required="" data-required="">
              <label id="serialNumber">Product Serial Number</label>
            </div>
            <div class="form-group form-floating">
              <textarea id="description" name="description" class="form-control" rows="10" placeholder="Description"></textarea>                      
              <label id="description">Description</label>
            </div>
            <input type="submit" class="btn btn-primary btn-block" value="Submit">      
          </form>        
        </div>
      </div>
    </div>
  </div>
</section>

<script src="{{'return-auth-form-block.js' |  asset_url}}"></script>

{% schema %}
{
  "name": "Return Authorization Form",
  "settings": [
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "textarea",
      "id": "heading_txt",
      "label": "Heading Text",
      "default": "Return Authorization Form"
    }
  ],
  "blocks": [    
  ],
  "presets": [
    {
      "name": "Return Authorization Form"
    }
  ]
}
{% endschema %}
