<link href="{{ 'blog.css' | asset_url }}" rel="stylesheet">
{%- liquid 
  assign sidebar_enabled = section.settings.enable_sidebar
  assign number_of_comments = article.comments_count
  assign article_image = article.image.src | image_url: width: 100, height: 100

  if comment and comment.status != 'published'
    assign number_of_comments = article.comments_count | plus: 1
  endif

  assign current_found = false
  assign done = false
  for a in blog.articles
    if current_found and done == false
      assign next_article = a
      assign done = true
    endif
    unless done
      if a.id == article.id 
        assign current_found = true
      else
        assign prev_article = a
      endif
    endunless
  endfor
-%}

<section data-section-id="{{ section.id }}" class="section-content overflow-hidden pt-0 border-top pb-0" role="article">
    <div class="{% if section.settings.fluid_layout %}container-fluid{% else %}container{% endif %}">
      <div class="row">

          {% if sidebar_enabled %}
              {% comment %} layout with sidebar {% endcomment %}
              <div class="col-lg-8 article-body has-sidebar">
                {% unless article_image contains 'no-image' %}
                <div class="row">
                  <div class="col-12">
                    <div class="back-to-button position-absolute text-uppercase font-size-md ls-sm mt-4" style="z-index: 1;">
                      <a class="d-inline-flex align-items-center fw-normal"  onclick="history.back();"><i class="ox-arrow-left me-3"></i>Back</a>
                    </div>
                    <div class="img-full float-end position-relative">
                      <img class="h-100 object-cover position-absolute top-0 w-100" style="object-position: top;"
                          src="{{ article.image.src | image_url: width: 1500 }}"
                          srcset="
                            {%- if article.image.width >= 375 -%}{{ article.image | image_url: width: 375 }} 375w,{%- endif -%}
                            {%- if article.image.width >= 550 -%}{{ article.image | image_url: width: 550 }} 550w,{%- endif -%}
                            {%- if article.image.width >= 768 -%}{{ article.image | image_url: width: 768 }} 767w,{%- endif -%}
                            {%- if article.image.width >= 991 -%}{{ article.image | image_url: width: 991 }} 991w,{%- endif -%}
                            {%- if article.image.width >= 1200 -%}{{ article.image | image_url: width: 1200 }} 1200w,{%- endif -%}
                            {%- if article.image.width >= 1500 -%}{{ article.image | image_url: width: 1500 }} 1500w,{%- endif -%}
                            {%- if article.image.width >= 1800 -%}{{ article.image | image_url: width: 1800 }} 1800w,{%- endif -%}
                            {{ article.image | image_url }} {{ article.image.width }}w"
                          sizes="(min-width: 992px) 100vw, 100vw"
                          loading="lazy"
                          alt="{{ article.image.alt | default: article.title | escape }}"
                          width="{{ article.image.width }}"
                          height="{{ article.image.width | divided_by: article.image.aspect_ratio }}"/>
                      </div>
                  </div>
                </div>
              {% endunless %}
                <div class="rte mt-lg-3">
                  <div class="article-meta mt-4 pt-1 text-uppercase font-size-md ls-sm">
                    <time datetime="formatDate(article.node.publishedAt)"> {{ article.published_at | date: "%b %d, %Y" }}</time>
                    |  3 min read
                    {% if blog.comments_enabled? and article.comments_count > 0 %}
                    Comments: {{ article.comments_count }}
                    {% endif %}
                  </div>
                  <h1 class="h2 mt-3 pt-1 mb-3">{{ article.title }}</h1>
                  {{ article.content }}
                </div>
                {% if section.settings.enable_social_sharing %}
                  <div class="my-5 mt-9 pt-1">
                    <div class="my-n2 d-flex justify-content-between align-items-center">
                      <h6 class="mb-0 py-2 font-size-xs" style="letter-spacing: 0.05em;">How To</h6>
                      <ul class="social-links list-unstyled list-inline mb-0 py-2">
                      
                        <li class="list-inline-item">
                          <a href="https://www.instagram.com/omniluxled/" target="_blank" style="color: ;" title="Instagram" rel="nofollow"
                            aria-label="Instagram">
                            <span class="ox-instagram"></span>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a href="https://www.facebook.com/OmniluxLED/" target="_blank" style="color: ;" title="Facebook" rel="nofollow"
                            aria-label="Facebook">
                            <span class="ox-facebook"></span>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a href="https://www.tiktok.com/@omniluxled" target="_blank" style="color: ;" title="tiktok" rel="nofollow"
                            aria-label="tiktok">
                            <span class="ox-tiktok"></span>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a href="https://www.youtube.com/channel/UCn7h3MjbhCK3u1xBorI2Adg" target="_blank" style="color: ;" title="YouTube"
                            rel="nofollow" aria-label="YouTube">
                            <span class="ox-youtube"></span>
                          </a>
                        </li>
                      
                      </ul>
                    </div>
                    {%- comment -%}
                    <h6>{{ 'templates.blogs.general.share' | t }}</h6>
                    {% render 'social-sharing', share_title: article.title, share_permalink: article.url, share_image: article.image %}
                    {%- endcomment -%}
                  </div>
                {% endif %}

                {% comment %} article navigation {% endcomment %}
                {% if section.settings.enable_article_navigation %}
                {%- liquid 
                  assign current_found = false
                  assign done = false

                  for a in blog.articles
                    if current_found and done == false
                      assign next_article = a
                      assign done = true
                    endif
                    unless done
                      if a.id == article.id
                        assign current_found = true
                      else
                        assign prev_article = a
                      endif
                    endunless
                  endfor
                -%}

                {% if section.settings.navigation_type == 'modern' %}
                  {% if next_article %}
                    <section class="article-navigation section-content">
                      <a href="{{ next_article.url }}" title="{{ next_article.title }}" aria-label="{{ next_article.title }}">
                        <link rel="prerender" href="{{ next_article.url }}">
                        <div class="inner py-5">
                          <div class="container">
                            <div class="row">
                              <div class="col-12 text-center">
                                <h6 class="text-warning">{{ 'templates.blogs.modern_navigation.next' | t }} <span class="icon-arrow-next"></span></h6>
                                <h4 class="text-white my-0">{{ next_article.title }}</h4>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="overlay"></div>
                        <div
                          style="background-image: url({{ next_article.image.src | image_url: width: 350, crop: 'center', format: 'pjpg' }});"
                          class="bg-img"></div>
                      </a>
                    </section>
                  {% endif %}
                {% else %}
                <div class="row article-navigation-row justify-content-between border-top-left-after position-relative py-7">
                  <div class="col-10 col-sm-6 d-flex align-items-center mx-auto mx-sm-0">
                    {% if prev_article %}
                      <a href="{{ prev_article.url }}" class="d-flex flex-column" title="{{ prev_article.title }}" aria-label="{{ prev_article.title }}">
                        <span class="text-uppercase d-flex align-items-center font-size-md ls-sm"><i class="ox-arrow-left me-3"></i> previous article</span>
                        <span class="fw-semibold mt-3">{{ prev_article.title }}</span>
                      </a>
                    {% endif %}
                  </div>
                  <div class="col-10 col-sm-6 d-flex align-items-center justify-content-sm-end text-sm-end mx-auto mt-5 mx-sm-0">
                    {% if next_article %}
                      <a href="{{ next_article.url }}" class="d-flex flex-column align-items-sm-end" title="{{ next_article.title }}" aria-label="{{ next_article.title }}">
                        <link rel="prerender" href="{{ next_article.url }}">
                        <span class="text-uppercase d-flex align-items-center font-size-md ls-sm">next article <i class="ox-arrow-right ms-3"></i></span>
                        <span class="fw-semibold mt-3">{{ next_article.title }}</span>
                      </a>
                    {% endif %}
                  </div>
                </div>
                {% endif %}
                {% endif %}
                <!-- Article comments -->
                
                {% paginate article.comments by 5 %}
                {% if article.comments_enabled? and number_of_comments > 0 %}
                    <div class="pb-3 pt-lg-11 pt-7 border-top-left-after position-relative"><h4 class="fw-medium mb-0 section-title">{{ 'templates.blogs.comments.heading' | t }}</h4></div>
                    <div class="">
                      {% for comment in article.comments %}{% endfor %}
                      {% for i in (1..3) %}
                        <div class="media" id="{{ comment.id }}">
                          <div class="media-body d-flex flex-wrap">
                            <div class="d-flex mb-3 font-size-lg-20 fw-normal"><p class="my-0">{{ comment.author }}<i class="px-2 fst-normal">|</i>{{ comment.created_at | date: "%B %d, %Y" }}</p></div>
                            <p class="pe-lg-4">
                              {{ comment.content }}
                            </p>
                          </div>
                        </div>
                      {% endfor %}
                    </div>

                    {% if paginate.pages > 1 %}
                      <div class="row">
                        <div class="col-12 text-center">
                          {{ paginate | default_pagination }}
                        </div>
                      </div>
                    {% endif %}
                  {% endif %}
                {% endpaginate %}
                {% if article.comments_enabled? %}
                <div class="w-100 {% if article.comments_enabled? and number_of_comments > 0 %}position-relative border-top-left-after py-lg-11 py-7{% else %}pb-lg-11 pb-7 pt-2{% endif %}">
                  <div>
                    <h4 class="fw-medium mb-n1 section-title">{{ 'templates.blogs.comments.title' | t }}</h4>
                  </div>
                  <!-- Comment Form -->
                  {% form "new_comment", article %}

                  {% if form.errors %}
                    <div class="row">
                      <div class="col">
                        <div class="alert alert-warning">{{ form.errors | default_errors }}</div>
                      </div>
                    </div>
                  {% endif %}

                  <div class="row">
                    <div class="col-md-6 mt-3 pt-1">
                      <div class="form-floating"> <input type="text" class="form-control" id="comment-author" name="comment[author]" aria-label="name" placeholder="{{ 'templates.blogs.comments.name' | t }}" value="{{ form.author }}" required spellcheck="false" autocomplete="off" autocapitalize="off"> <label for="comment-author">{{ 'templates.blogs.comments.name' | t }}</label> </div>
                    </div>
                    <div class="col-md-6 mt-3 pt-1">
                      <div class="form-floating"> <input type="email" class="form-control" id="comment-email" name="comment[email]" aria-label="email" placeholder="{{ 'templates.blogs.comments.email' | t }}" value="{{ form.email }}" required spellcheck="false" autocomplete="off" autocapitalize="off"> <label for="comment-email">{{ 'templates.blogs.comments.email' | t }}</label> </div>
                    </div>
                    <div class="col-sm-12 mt-3 pt-1">
                      <div class="form-floating"> <textarea class="form-control" rows="4" id="comment-body" name="comment[body]" aria-label="comments" placeholder="{{ 'templates.blogs.comments.message' | t }}" required spellcheck="false" autocomplete="off" autocapitalize="off"></textarea> <label for="comment-body">{{ 'templates.blogs.comments.message' | t }}</label> </div>
                    </div>
                    <div class="col-sm-12 text-end">
                      {% if blog.moderated? %}
                        <p class="mt-3 mb-0 font-italic">{{ 'templates.blogs.comments.moderated' | t }}</p>
                      {% endif %}
                      <button type="submit" value="{{ 'templates.blogs.comments.post' | t }}" class="btn btn-primary btn-outline-primary mt-5">{{ 'templates.blogs.comments.post' | t }}</button>
                    </div>
                  </div>
                {% endform %}
                <!-- End Comment Form -->
                </div>
              {% endif %}
              </div>
              <div class="col-lg-4">
                {% render 'sidebar-blog' %}
              </div>

          {% else %}
              {% comment %} layout without sidebar {% endcomment %}
              <div class="col-12 article-body">
                <div class="rte">
                  {{ article.content }}
                </div>
                {% if section.settings.enable_social_sharing %}
                  <div class="mt-5 text-center">
                    <h6>{{ 'templates.blogs.general.share' | t }}</h6>
                    {% render 'social-sharing', share_title: article.title, share_permalink: article.url, share_image: article.image %}
                  </div>
                {% endif %}
              </div>

          {% endif %}

      </div>

    </div>
</section>

{% schema %}
{
  "name": "Article Template",
  "settings": [
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "checkbox",
      "id": "fluid_layout",
      "label": "Full Width Layout?",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_social_sharing",
      "label": "Enable Article Social Sharing?",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_sidebar",
      "label": "Enable Sidebar?",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "sidebar_is_sticky",
      "label": "Sticky Sidebar?",
      "default": false
    },
    {
      "type": "paragraph",
      "content": "Use the 'Content' section below to customize the sidebar content."
    },
    {
      "type": "header",
      "content": "Article Navigation"
    },
    {
      "type": "checkbox",
      "id": "enable_article_navigation",
      "label": "Enable Article Navigation?",
      "default": true
    },
    {
      "type": "select",
      "id": "navigation_type",
      "label": "Navigation Type",
      "options": [
        {
          "value": "simple",
          "label": "Simple"
        },
        {
          "value": "modern",
          "label": "Modern"
        }
      ],
      "default": "simple"
    }
  ],
  "blocks": [
    {
      "type": "socials",
      "name": "Socials",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "enable_socials",
          "label": "Enabled?",
          "default": true
        },
        {
          "type": "text",
          "id": "socials_title",
          "label": "Title",
          "default": "Connect with Us"
        },
        {
          "type": "paragraph",
          "content": "Select Networks"
        },
        {
          "type": "checkbox",
          "id": "social_icon_facebook",
          "label": "Facebook",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "social_icon_tiktok",
          "label": "Tiktok",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "social_icon_twitter",
          "label": "Twitter",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "social_icon_instagram",
          "label": "Instagram",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "social_icon_reddit",
          "label": "Reddit?",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "social_icon_youtube",
          "label": "YouTube",
          "default": true
        }
      ]
    },
    {
      "type": "recent-articles",
      "name": "Recent Articles",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "enable_recent_articles",
          "label": "Enabled?",
          "default": true
        },
        {
          "type": "text",
          "id": "recent_articles_title",
          "label": "Title",
          "default": "Recent Articles"
        },
        {
          "type": "range",
          "id": "total_recent_articles",
          "label": "Articles Limit",
          "min": 1,
          "max": 10,
          "step": 1,
          "default": 5
        }
      ]
    },
    {
      "type": "tags",
      "name": "Tags",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "enable_tags",
          "label": "Enabled?",
          "default": true
        },
        {
          "type": "text",
          "id": "tags_title",
          "label": "Title",
          "default": "Tags"
        }
      ]
    },
    {
      "type": "shop_favorites",
      "name": "Shop Your Favorites",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "enable_shop_favorites",
          "label": "Enabled?",
          "default": true
        },
        {
          "type": "text",
          "id": "shop_favorites_title",
          "label": "Title",
          "default": "shop your favorites"
        },
        {
          "type": "header",
          "content": "Button"
        },
        {
          "type": "text",
          "id": "btn_txt",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "btn_link",
          "label": "Button Link"
        },
        {
          "type": "select",
          "id": "btn_type",
          "label": "Button Type",
          "options": [
            {
              "value": "outline",
              "label": "Outline"
            },
            {
              "value": "",
              "label": "Solid"
            }
          ],
          "default": ""
        },
        {
          "type": "select",
          "id": "btn_variant",
          "label": "Button Variant",
          "options": [
            {
              "value": "primary",
              "label": "Primary"
            },
            {
              "value": "secondary",
              "label": "Secondary"
            },
            {
              "value": "white",
              "label": "White"
            },
            {
              "value": "dark",
              "label": "Dark"
            }
          ],
          "default": "dark"
        },
        {
          "type": "select",
          "id": "btn_size",
          "label": "Button Size",
          "options": [
            {
              "value": "",
              "label": "Default"
            },
            {
              "value": "btn-sm",
              "label": "Small"
            },
            {
              "value": "btn-lg",
              "label": "Large"
            }
          ],
          "default": ""
        },
        {
          "type": "product",
          "id": "product_1",
          "label": "Select Product 1"
        },
        {
          "type": "product",
          "id": "product_2",
          "label": "Select Product 2"
        }
      ]
    }
  ]
}
{% endschema %}
