<link
  rel="stylesheet"
  href="{{ 'lead-board-experts-slider.css' | asset_url }}"
  media="print"
  onload="this.media='all'">
{% if section.settings.product_tabs_mobile %}
  {{ 'component-image-tabs.css' | asset_url | stylesheet_tag }}
{% endif %}
{% if section.settings.product_grid %}
  {{ 'component-product-images.css' | asset_url | stylesheet_tag }}
{% endif %}
{% comment %} TODO Remove later {% endcomment %}
<style>
  #reviews-slider {
    padding-top: 20px;
    height: 0;
    visibility: hidden;
    opacity: 0;
  }
</style>
{% unless product.id == 5702727631010 %}
  <style>
    .circle-video-menu-wrap {
      display: none !important;
    }
  </style>
{% endunless %}
{% if product.id == 5702727631010 %}
  <style>
    #shopify-section-template--16163258106018__d84aa67d-fef0-442d-8364-790f28934d4d {
      display: none !important;
    }
  </style>
{% endif %}
{% if product.id != 5702727631010 %}
  <style>
    #reviews-slider {
      display: none !important;
    }
  </style>
{% endif %}

{% comment %} TODO End {% endcomment %}

<div
  data-section-id="{{ section.id }}"
  data-template="product"
  data-product-upsell-title="{{ product.metafields.custom.upsell_cta }}"
  class="{% if product.has_only_default_variant %}only-default-variant{% endif %}">
  {%- liquid
    assign productExcludeTag = settings.product_exclude_tag_text
    assign fluid_layout = section.settings.fluid_layout
    assign current_variant = product.selected_or_first_available_variant
    assign featured_image = current_variant.featured_image | default: product.featured_image

    capture current
      cycle 1, 2
    endcapture
  -%}

  {% assign freeGiftProducts = 'Omnilux Men,Omnilux Contour Face,Omnilux Clear,Omnilux Contour Neck & Décolleté,Omnilux Contour Glove' | split: ',' %}
  {% assign freeGiftTagFlag = false %}
  
  {% if settings.enable_gift_tag == true %}
    {% if settings.is_gwpc_enabled == true %}
      {% if freeGiftProducts contains product.title %}
        {% assign freeGiftTagFlag = true %}
      {% endif %}
    {% endif %}
  {% endif %}

  <section class="section-content border-top pt-lg-6 pt-4 pb-0 {% if section.settings.enable_background_tone %}position-relative background-tone{% endif %}" data-product-container>
    {% if section.settings.enable_background_tone %}
      <span class="top-20 back-ground-fair-tone position-absolute w-100 start-0 overflow-hidden" style="pointer-events: none;z-index: -1;">
        <span class="white-anim"></span>
      </span>
    {% endif %}
    <div class="{% if fluid_layout %}container-fluid{% else %}container{% endif %} mt-lg-0 mt-n1">
      <div class="row">
        <div class="col-lg-7">
          <div data-type="slider" class="product-images-wrapper pr-lg-4 text-center {% if section.settings.product_grid %}product-images--slider{% endif %}">
            {% if freeGiftTagFlag == true %}
              <span class="badges free-gift-badge-sec free-gift-badge-sec-product-page">
                <span class="badge free-gift-badge text-white bg-black">
                  {{ settings.gift_tag_text }}
                </span>
              </span>
            {% endif %}
            <div class="row pdp-img-row {% if product.images.size == 1 %}pdp-one-img{% endif %}">
              {% if featured_image != blank %}
                <a class="skip-to-content-link button visually-hidden" href="#ProductInfo-{{ section.id }}">
                  {{ "accessibility.skip_to_product_info" | t }}
                </a>
                <slider-element class="swiper-container order-lg-2 overflow-hidden" data-main-slider>
                  <div
                    class="swiper swiper-slider product-carousel pdp-carousel mb-0"
                    data-nav="product-thumbnails"
                    data-slider='{
                                    "loop": false,
                                    "slidesPerView": "1",
                                    "spaceBetween": 15,
                                    "grabCursor": true,
                                    "navigation": {
                                        "nextEl": ".swiper-button-next-{{ section.id }}",
                                        "prevEl": ".swiper-button-prev-{{ section.id }}"
                                    },
                                    "pagination": {
                                        "el": ".swiper-pagination-{{ section.id }}"
                                    }
                                }'>
                    <div class="swiper-wrapper">
                      {% for media in product.media %}
                        {% if media.media_type == 'image' %}
                          {% assign image = media %}
                          <div class="swiper-slide carousel-cell d-flex align-items-center product--media" data-mediaID="{{ image.id }}">
                            <div class="square-card position-relative w-100">
                              <img
                                class="img-fluid position-absolute top-0 start-0 object-cover w-100 h-100"
                                srcset="
                                                  {%- if image.src.width >= 350 -%}{{ image.src | image_url: width: 350, format: 'pjpg' }} 350w,{%- endif -%}
                                                  {%- if image.src.width >= 550 -%}{{ image.src | image_url: width: 550, format: 'pjpg' }} 550w,{%- endif -%}
                                                  {%- if image.src.width >= 750 -%}{{ image.src | image_url: width: 750, format: 'pjpg' }} 750w,{%- endif -%}
                                                  {%- if image.src.width >= 991 -%}{{ image.src | image_url: width: 991, format: 'pjpg' }} 991w,{%- endif -%}
                                                  {%- if image.src.width >= 1200 -%}{{ image.src | image_url: width: 1200, format: 'pjpg' }} 1200w,{%- endif -%}
                                                  {%- if image.src.width >= 1500 -%}{{ image.src | image_url: width: 1500, format: 'pjpg' }} 1500w,{%- endif -%}
                                                  {{ image.src | image_url }} {{ image.src.width }}w"
                                src="{{ image.src | image_url: width: 1500, format: 'pjpg' }}"
                                loading="lazy"
                                data-variant-title="{{ image.alt | escape }}"
                                sizes="(min-width: {{ settings.container_width }}) {{ settings.container_width }}, 100vw"
                                alt="{{ image.alt | escape }}"
                                width="{{ image.src.width }}"
                                height="{{ image.src.width | divided_by: image.src.aspect_ratio | round }}">
                            </div>
                          </div>
                        {% elsif media.media_type == 'external_video' or media.media_type == 'video' %}
                          <div
                            class="swiper-slide carousel-cell d-flex align-items-center product--media"
                            data-mediaID="{{ media.id }}"
                            role="treeitem">
                            {%- render 'media'
                              , media: media
                              , grid: section.settings.product_grid -%}
                          </div>
                        {% endif %}
                      {% endfor %}
                    </div>
                    {% if section.settings.product_tabs_mobile %}
                      {% if product.images.size > 1 %}
                        <div class="images__tabs">
                          <div class="images__tab active" id="product">Product</div>
                          <div class="images__tab" id="before-afters">Before & Afters</div>
                        </div>
                      {% endif %}
                    {% endif %}
                  </div>
                  {% if product.images.size > 1 %}
                    <div class="swiper-pagination swiper-pagination-{{ section.id }} bottom-0 w-100 text-center position-relative d-flex justify-content-center flex-wrap d-lg-none" style="margin-top: 10px;"></div>
                    <div
                      class="swiper-button-next swiper-button-next-{{ section.id }} d-lg-none ox-arrow-right"
                      {% if product.images.size <= 1 %}
                      style="display: none !important;"
                      {% endif %}></div>
                    <div
                      class="swiper-button-prev swiper-button-prev-{{ section.id }} d-lg-none ox-arrow-left"
                      {% if product.images.size <= 1 %}
                      style="display: none !important;"
                      {% endif %}></div>
                  {% endif %}
                </slider-element>

                <!-- Nav Slider functionality is not available directly. Custom Set up for Nav -->
                {% if product.images.size > 1 %}
                  <div
                    class="swiper-container col-auto d-none d-lg-flex order-md-1 align-items-center"
                    data-thumbSlider
                    data-direction="vertical">
                    <div class="swiper swiper-slider product-thumbnails w-100 ms-0" data-slider='{
                                      "direction":"horizontal",
                                      "loop": false,
                                      "slidesPerView": "5",
                                      "spaceBetween": 10,
                                      "grabCursor": true,
                                      "slideToClickedSlide": true,
                                      "navigation": {
                                        "nextEl": ".swiper-button-next-t",
                                        "prevEl": ".swiper-button-prev-t"
                                      },
                                      "breakpoints": {
                                        "992": {
                                          "direction":"vertical",
                                          "slidesPerView": "3"
                                        },
                                        "1200": {
                                          "direction":"vertical",
                                          "slidesPerView": "5"
                                        }
                                      }
                                  }'>
                      <div class="swiper-wrapper">
                        {% for media in product.media %}
                          {% if media.media_type == 'image' %}
                            {% assign image = media %}
                            <div class="swiper-slide product-thumb--image" data-mediaID="{{ image.id }}">
                              <div class="square-card position-relative w-100">
                                <img
                                  class="img-fluid position-absolute top-0 start-0 object-cover w-100 h-100"
                                  src="{{ image.src | image_url: width:20, format: 'pjpg' }}"
                                  srcset="{{ image.src | image_url: width: 100, format: 'pjpg' }}"
                                  sizes="100px"
                                  loading="lazy"
                                  width="{{ image.width }}"
                                  height="{{ image.width | divided_by: image.aspect_ratio }}"
                                  alt="{{ image.alt | default: product.title | escape }}" />
                              </div>
                            </div>
                          {% elsif media.media_type == 'external_video' or media.media_type == 'video' %}
                            <div class="swiper-slide product-thumb--image media--video" data-mediaID="{{ media.id }}">
                              <div class="square-card position-relative w-100">
                                <img
                                  class="img-fluid position-absolute top-0 start-0 object-cover w-100 h-100"
                                  src="{{ media.preview_image.src | image_url: width:20, format: 'pjpg' }}"
                                  srcset="{{ media.preview_image.src | image_url: width: 100, format: 'pjpg' }}"
                                  sizes="100px"
                                  loading="lazy"
                                  width="{{ media.preview_image.width }}"
                                  height="{{ media.preview_image.width | divided_by: media.preview_image.aspect_ratio }}"
                                  alt="{{ media.alt | default: product.title | escape }}" />
                                <span class="ox-play position-absolute"></span>
                              </div>
                            </div>
                          {% endif %}
                        {% endfor %}
                      </div>
                      {% if product.images.size > 1 %}
                        <div
                          class="swiper-button-next swiper-button-next-t ox-arrow-right text-primary bottom-0 start-0 end-0 mx-auto"
                          {% if product.images.size <= 1 %}
                          style="display: none !important;"
                          {% endif %}></div>
                        <div
                          class="swiper-button-prev swiper-button-prev-t ox-arrow-left text-primary top-0 start-0 end-0 mx-auto"
                          {% if product.images.size <= 1 %}
                          style="display: none !important;"
                          {% endif %}></div>
                      {% endif %}
                    </div>
                  </div>
                {% endif %}
              {% else %}
                <img
                  class="img-fluid"
                  src="{{ settings.no_image | image_url }}"
                  srcset="{{ settings.no_image | image_url: width: 250 }}"
                  sizes="250px"
                  loading="lazy"
                  width="{{ settings.no_image.width }}"
                  height="{{ settings.no_image.width | divided_by: settings.no_image.aspect_ratio }}"
                  alt="{{ settings.no_image.alt | default: product.title | escape }}" />
              {% endif %}
            </div>
          </div>
          {% if section.settings.product_grid %}
            <div class="product-images--desktop">
              {% if product.image.size == 1 %}
                <div class="product-images__single">
                  {{ product.featured_image | image_url: width: master | image_tag: alt: product.featured_image.alt, class: 'product-images__image' }}
                </div>
              {% else %}
                <div class="product-images__grid">
                  {% for image in product.images limit: 10 %}
                    <div class="product-images__cell">
                      {{ image | image_url: width: master | image_tag: alt: image.alt, class: 'product-images__image' }}
                    </div>
                  {% endfor %}
                  {% if product.images.size > 10 %}
                    {% for image in product.images offset: 10 %}
                      <div class="product-images__cell more-image" style="display: none;">
                        {{ image | image_url: width: master | image_tag: alt: image.alt, class: 'product-images__image' }}
                      </div>
                    {% endfor %}
                  {% endif %}
                </div>
                <button
                  class="show-more-button btn btn-outline-primary "
                  onclick="showMoreImages()"
                  data-show="true">Show More</button>
              {% endif %}
            </div>
            <script>
                    function showMoreImages() {
                      var moreImages = document.querySelectorAll('.more-image');
                      var showMoreButton = document.querySelector('.show-more-button');

                      if (showMoreButton.dataset.show == "true") {
                        moreImages.forEach(img => {
                          img.style.display = "none";
                        })
                        showMoreButton.dataset.show = false;
                        showMoreButton.innerHTML = "Show More";
                      } else {
                        moreImages.forEach(img => {
                          img.style.display = "block";
                        })
                        showMoreButton.dataset.show = true;
                        showMoreButton.innerHTML = "Show Less";
                      }
                    }
            </script>
          {% endif %}
        </div>
        <div class="col-lg-5 ps-xl-6" id="ProductInfo-{{ section.id }}">
          <div class="product-details-wrapper mt-2 pt-1 mt-lg-0 pt-lg-0 d-flex flex-column" data-slider_type="{{ section.settings.slider_type }}">
            {%- for block in section.blocks -%}
              {%- case block.type -%}
                {%- when '@app' -%}

                  {% render block %}
                {%- when 'name' -%}
                  <h1 class="mt-2 h3">{{ product.title }}</h1>
                {%- when 'subtitle' -%}
                  {% if block.settings.subtitle != '' %}
                    <div class="align-items-center mt-2 mb-lg-3 mb-2 py-1 formatted-list fw-normal">
                      <ul>
                        <li class="fw-bold" style="color: red; padding-bottom: 12px;">
                          Holiday orders must be placed by 12/17 using the expedited shipping option at checkout. We cannot guarantee Christmas delivery for ground shipping orders.                          
                        </li>
                      </ul>
                      {{ block.settings.subtitle }}
                    </div>
                  {% endif %}
                {%- when 'vendor' -%}
                  {% assign show_vendor = block.settings.show_vendor %}
                  <div class="align-items-center">
                    {% if show_vendor %}
                      <span class="my-0 vendorname">{{ product.vendor }}</span>
                    {% endif %}
                  </div>
                {%- when 'price' -%}
                  {% for collection in product.collections %}
                    {% if collection.title contains 'All Devices' %}
                      <div class="trustedbypdp">|&nbsp;&nbsp;Trusted by 150K+ Customers</div>
                    {% endif %}
                  {% endfor %}
                  <div class="price-wrapper mt-2 d-flex align-items-center flex-wrap">
                    {%- if current_variant.compare_at_price > current_variant.price -%}
                      <s
                        class="text-gray-600 me-2 money"
                        {%- if current_variant.compare_at_price > current_variant.price -%}
                        style="display:block"
                        {%- endif -%}
                        data-comparePrice>{{ current_variant.compare_at_price | money }}</s>
                    {%- endif -%}
                    <span class="fw-bold actual-price money me-2" data-currentPrice>{{ current_variant.price | money }}</span>
                    {% unless product.tags contains "no_free_shipping" %}
                      {% comment %} <span class="free-shipping text-uppercase fw-bold font-size-md ls-0" style="line-height: 1.7857142857;">+ free shipping*</span> {% endcomment %}
                    {% endunless %}
                  </div>
                  <div class="cc_prod_price_selector"></div>

                  {%- unless product.type contains 'Gift' or product.type contains 'gift' -%}
                    {%- form 'product'
                      , product
                      , data-productid: product.id
                      , id: 'product-form-installment'
                      , class: 'installment caption-large mt-3 mb-3' -%}
                      <input
                        type="hidden"
                        name="id"
                        data-productid="{{ product.id }}"
                        value="{{ product.selected_or_first_available_variant.id }}">
                      {{ form | payment_terms }}
                    {%- endform -%}
                  {%- endunless -%}
                {%- when 'description' -%}
                  {%- if block.settings.description != blank -%}
                    <div class="rte mt-3 mb-n3 formatted-list">
                      {{ block.settings.description }}
                    </div>
                  {%- else -%}
                    {% if product.description %}
                      <div class="rte mt-3 mb-n3 formatted-list">
                        {{ product.description }}
                      </div>
                    {% endif %}
                  {% endif %}
                {%- when "subscription-info" - %}
                  <div class="subscription-info">
                    {{ block.settings.info }}
                  </div>
                {%- when 'product-tabs' -%}
                  {%- liquid
                    if block.settings.enable_product_tabs and section.settings.product_tabs_placement == 'beside_slider'
                      render 'block-product-tabs', block: block
                    endif
                  -%}
                {%- when 'product_form' -%}
                  {%- liquid

                    assign hideWholesalersProducts = settings.hide_product_tag_text | split: ','
                    assign checkWholesaleProducts = false
                    for tag in hideWholesalersProducts
                      assign tag = tag | downcase
                      if product.tags contains tag
                        assign checkWholesaleProducts = true
                      endif
                    endfor

                    unless checkWholesaleProducts == true
                      unless product.tags contains productExcludeTag
                        render 'form-product', product: product, current_variant: current_variant, format: 'product-page'
                      endunless
                    endunless
                  -%}
                  <div class="countdown-timer-ab">
                    {% if product.title == 'Omnilux Contour Face' %}
                      {% include 'countdown-timer'
                        ,   title: "Hurry! Buy now and save up to $200"
                        ,   end_date: "May 1, 2023"
                      %}
                    {% endif %}
                  </div>
                {%- when 'share' -%}
                  {% if block.settings.show_social_share %}
                    <div class="d-flex align-items-center mt-5 mb-3">
                      <h6 class="me-2 mb-0">{{ 'products.product.share' | t }}</h6>
                      {% render 'social-sharing'
                        , share_title: product.title
                        , share_permalink: product.url
                        , share_image: product %}
                    </div>
                  {% endif %}
              {%- endcase -%}
            {%- endfor -%}
          </div>

        </div>
      </div>
    </div>
  </section>


  {%- liquid


    for block in section.blocks
      case block.type
        when 'product-tabs'
          if block.settings.enable_product_tabs and section.settings.product_tabs_placement == 'below_slider'
            render 'block-product-tabs', block: block
          endif
        when 'related-products'
          if block.settings.enable_related_products
            render 'block-related-products', block: block
          endif
      endcase
    endfor
  -%}
</div>

<script type="application/json" data-productMedia>
  {{ product.media | json }}
</script>
<script>
  document.addEventListener("click", function(event) {
    const trustedButton = document.querySelector(".trustedbypdp");
    const reviewsSection = document.querySelector(".oke-w");

    if (trustedButton && reviewsSection && event.target === trustedButton) {
      window.scrollTo(0, reviewsSection.offsetTop);
    }
  });
</script>
<style>
  #product-form-installment {
    display: none;
  }
</style>
{% if product.id == 5702727631010 %}
  <style>
    #shopify-section-template--16184566874274__e74cca30-9a8e-4f0e-8e87-cac411799484 {
      display: none;
    }
    #shopify-section-template--16184566874274__c578fea6-30d9-45c3-a052-ad86f35eb32a {
      display: block;
    }
  </style>
{% endif %}
{% schema %}
  {
    "name": "t:sections.template-product.name",
    "tag": "section",
    "class": "product-section spaced-section",
    "blocks": [
      {
        "type": "@app"
      },
      {
        "type": "name",
        "name": "Product Name",
        "limit": 1
      },
      {
        "type": "vendor",
        "name": "Vendor",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "show_vendor",
            "default": true,
            "label": "Show Vendor"
          }
        ]
      },
      {
        "type": "price",
        "name": "Price",
        "limit": 1
      },
      {
        "type": "product_form",
        "name": "Product Form",
        "limit": 1
      },
      {
        "type": "description",
        "name": "Description",
        "limit": 1,
        "settings": [
          {
            "type": "liquid",
            "label": "Description",
            "id": "description",
            "info": "If not added here or if not have metafield value, main description of product will be displayed here."
          }
        ]
      },
      {
        "type": "subtitle",
        "name": "SubTitle",
        "limit": 2,
        "settings": [
          {
            "type": "liquid",
            "id": "subtitle",
            "label": "SubTitle"
          }
        ]
      },
      {
        "type": "share",
        "name": "Share",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "show_social_share",
            "default": true,
            "label": "Show Social Sharing"
          }
        ]
      },
      {
        "type": "faqs",
        "name": "FAQ's Tabs",
        "limit": 5,
        "settings": [
          {
            "type": "liquid",
            "id": "faqs_title_sub",
            "label": "FAQ's Title"
          },
          {
            "type": "liquid",
            "id": "faqs_content_sub",
            "label": "FAQ's Content"
          }
        ]
      },
      {
        "type": "subscription-info",
        "name": "Subscription Info",
        "limit": 1,
        "settings": [
          {
            "type": "header",
            "content": "Subscription Info"
          },
          {
            "type": "richtext",
            "id": "info",
            "label": "Info"
          }
        ]
      },
      {
        "type": "product-tabs",
        "name": "Product Tabs",
        "limit": 1,
        "settings": [
          {
            "type": "header",
            "content": "Layout"
          },
          {
            "type": "checkbox",
            "id": "enable_product_tabs",
            "label": "Enabled?",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "product_tabs_fluid_layout",
            "label": "Full Width Layout?",
            "default": false
          },
          {
            "type": "select",
            "id": "product_tabs_layout",
            "label": "Product Tabs Layout",
            "options": [
              {
                "value": "tabify",
                "label": "Tabify"
              },
              {
                "value": "accordion",
                "label": "Accordion"
              }
            ],
            "default": "tabify"
          },
          {
            "type": "header",
            "content": "Tabs"
          },
          {
            "type": "checkbox",
            "id": "enable_descripion_tab",
            "label": "Enable Description Tab?",
            "default": true
          },
          {
            "type": "liquid",
            "id": "enable_custom_tab_1",
            "label": "Enable Custom Tab 1?"
          },
          {
            "type": "liquid",
            "id": "tab_1_title",
            "label": "Tab 1 Title"
          },
          {
            "type": "liquid",
            "id": "tab_1_content",
            "label": "Tab 1 Content"
          },
          {
            "type": "liquid",
            "id": "enable_custom_tab_2",
            "label": "Enable Custom Tab 2?"
          },
          {
            "type": "liquid",
            "id": "tab_2_title",
            "label": "Tab 2 Title"
          },
          {
            "type": "liquid",
            "id": "tab_2_content",
            "label": "Tab 2 Content"
          },
          {
            "type": "paragraph",
            "content": "Video"
          },
          {
            "type": "liquid",
            "id": "video_id",
            "label": "Poster Video URL",
            "info": "Only Mute video can autoplay. Use local video URL."
          },
          {
            "type": "liquid",
            "id": "mobile_video_id",
            "label": "Mobile Poster Video URL",
            "info": "Only Mute video can autoplay. Use local video URL."
          },
          {
            "type": "paragraph",
            "content": "Image"
          },
          {
            "type": "image_picker",
            "id": "poster_image",
            "label": "Select Image",
            "info": "For Better Viewing Use Example dimentions: 2007x1200px ( Aspect Ratio: 2.23:1 )"
          },
          {
            "type": "liquid",
            "id": "enable_custom_faq",
            "label": "Enable FAQ's Tab 3?"
          },
          {
            "type": "paragraph",
            "content": "FAQ's Title"
          },
          {
            "type": "liquid",
            "id": "faq_title",
            "label": "FAQ's Title"
          },
          {
            "type": "liquid",
            "id": "btn_txt",
            "label": "Link Text"
          },
          {
            "type": "liquid",
            "id": "btn_link",
            "label": "Link"
          },
          {
            "type": "liquid",
            "id": "enable_custom_tab_4",
            "label": "Enable Custom Tab 4?"
          },
          {
            "type": "liquid",
            "id": "tab_4_title",
            "label": "Tab 4 Title"
          },
          {
            "type": "liquid",
            "id": "tab_4_content",
            "label": "Tab 4 Content"
          },
          {
            "type": "liquid",
            "id": "enable_custom_tab_5",
            "label": "Enable Custom Tab 5?"
          },
          {
            "type": "liquid",
            "id": "tab_5_title",
            "label": "Tab 5 Title",
            "default": "Tab Title 5"
          },
          {
            "type": "liquid",
            "id": "tab_5_content",
            "label": "Tab 5 Content"
          },
          {
            "type": "liquid",
            "id": "enable_custom_tab_6",
            "label": "Enable Custom Tab 6?"
          },
          {
            "type": "liquid",
            "id": "tab_6_title",
            "label": "Tab 6 Title",
            "default": "Tab Title 6"
          },
          {
            "type": "liquid",
            "id": "tab_6_content",
            "label": "Tab 6 Content"
          }
        ]
      },
      {
        "type": "related-products",
        "name": "Related Products",
        "limit": 1,
        "settings": [
          {
            "type": "header",
            "content": "Layout"
          },
          {
            "type": "checkbox",
            "id": "enable_related_products",
            "label": "Enabled?"
          },
          {
            "type": "checkbox",
            "id": "related_products_fluid_layout",
            "label": "Full Width Layout?",
            "default": false
          },
          {
            "type": "range",
            "id": "related_products_view",
            "label": "Total Items to Show",
            "min": 0,
            "max": 16,
            "step": 1,
            "default": 9
          },
          {
            "type": "range",
            "id": "related_products_auto_play",
            "label": "Autoplay",
            "info": "Duration of animation between slides (in seconds). Set to zero if you don't want the slider to autoplay.",
            "min": 0,
            "max": 10,
            "step": 1,
            "default": 0
          },
          {
            "type": "header",
            "content": "Content"
          },
          {
            "type": "textarea",
            "id": "related_products_heading_txt",
            "label": "Heading Text",
            "default": "Related Products"
          },
          {
            "type": "select",
            "id": "product_type",
            "label": "Product Type",
            "options": [
              {
                "value": "product-recommendations",
                "label": "Product Recommendations"
              },
              {
                "value": "related-products",
                "label": "Related Products"
              }
            ],
            "default": "product-recommendations"
          },
          {
            "type": "paragraph",
            "content": "Product Recommendations: Products comes from Shopify."
          },
          {
            "type": "paragraph",
            "content": "Related Products: Products which belongs to same collection."
          },
          {
            "type": "header",
            "content": "Styling"
          },
          {
            "type": "color",
            "id": "related_products_section_bg_color",
            "label": "Background Color",
            "default": "#ffffff"
          },
          {
            "type": "color",
            "id": "related_products_section_color",
            "label": "Text Color",
            "default": "#343a40"
          }
        ]
      }
    ],
    "settings": [
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type": "checkbox",
        "id": "product_grid",
        "label": "Product Grid Layout"
      },
      {
        "type": "checkbox",
        "id": "product_tabs_mobile",
        "label": "Slider tabs (Mobile)"
      },
      {
        "type": "checkbox",
        "id": "fluid_layout",
        "label": "Full Width Layout?",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "enable_background_tone",
        "label": "Background Tone",
        "default": false
      },
      {
        "type": "header",
        "content": "Features"
      },
      {
        "type": "checkbox",
        "id": "show_vendor",
        "label": "Show Vendor?",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "enable_dynamic_checkout",
        "label": "Enable Dynamic checkout Buttons?",
        "default": false,
        "info": "Using the payment methods available on your store, customers see their preferred option, like PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)"
      },
      {
        "type": "select",
        "id": "product_tabs_placement",
        "label": "Product Tabs Placement",
        "options": [
          {
            "value": "beside_slider",
            "label": "Beside Product Slider"
          },
          {
            "value": "below_slider",
            "label": "Below Product Slider"
          }
        ],
        "default": "below_slider"
      }
    ]
  }
{% endschema %}

{% comment %}
  <!-- Extend -- Load product integration script -->
  {% render 'extend-product-integration' %}
  <!-- Extend -- End Extend code -->
{% endcomment %}